/* bài học css selector cơ bản */
/* lựa chọn toàn bộ thẻ */
* {
    font-style: italic;
}

/* lựa chọn tất cả thẻ p để style css cho các phân tử của thẻ p */
p {
    text-decoration: underline;
}

/* chọn tất cả các thẻ có class = "class-1" */
.class-1 {
    color: red;
}

/* lựa chọn tất cả các thẻ có class = "class-2 class-3" hoặc class = "class-3 class-2" */
.class-2.class-3 {
    color: green;
}

/* lựa chọn tất cả các thẻ class-5 là con của thẻ class-4  */
.class-4 .class-5 {
    color: purple;

}

p.class-6 {
    color: blue;
}

div.class-6 {
    text-decoration: none;
}