:root {
    --heading-color: red;
    --text-size: 30px;
    --title-color: green;
}

/* using var() in CSS */
.title {
    color: var(--heading-color);
}

.title1 {
    font-size: var(--text-size);
    color: var(--title-color);
}

/* Thực hành với :hover */
.button {
    padding: 8px 16px;
    background-color: red;
    text-decoration: none;
    color: #ffff;
    border-radius: 8px;
}

.button:hover {
    background-color: rgba(240, 81, 35, 0.8);
}

.heading {
    /* ẩn phần tử thẻ p đi */
    display: none;
    background-color: yellow;
    padding: 0;
}

.container {
    width: 200px;
}

.container:hover p {
    /* thẻ p sẽ hiển thị một dòng riêng biệt và chiếm hết chiều ngang của phần tử cha */
    display: block;
    margin: 0;
}

/* Thực hành với :first-child, phần tử được chọn là phần tử con đầu tiên của phần tử cha */
ul :first-child {
    color: red;
}

/* Thực hành với :last-child, phần tử được chọn là phần tử cuối cùng của phần tử cha */
ul :last-child {
    color: blue;
}

/* Thực hành với :active, Thay đổi trang thái của thẻ a khi click nó */
.link-w3school:active {
    color: red;
}

/* Thực hành với :checked, chọn mỗi phần tử <input> đã kiểm tra */
input:checked {
    width: 100px;
    height: 100px;
}

button:active {
    color: white;
    background-color: pink;
}